extends ../_base

block body

  block header
    include partials/header

  .container
    | <!--[if lt IE 8]>
    |   <p class="alert alert-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    block content

  block footer
    include partials/footer