/**
 * Bower scss components
 * (injected through wiredep).
 *
 */
// bower:scss
@import "bower_components/reset-scss/reset.scss";
// endbower


/**
 * kunderikuus.net $variables and @imports
 *
 */
$brand-light: #cfb79d;
$brand-accent-cold: #5eaca9;
$brand-accent-warm: #df3d3d;
$grid-gutter-width: 20px;

@import "base";
@import "logo";
@import "resume";
@import "icons";
