doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title @kuus | kunderikuus.net
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='kuus <kunderikuus@gmail.com> (http://kunderikuus.net)')
    //- Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    //- bower:css
    //- endbower
    // endbuild

    link(href='http://fonts.googleapis.com/css?family=Oswald:700|Rokkitt:400', rel='stylesheet', type='text/css')

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body
    noscript: img(src='images/logo.png', title='Logo k6', alt='k6')
    aside.resume-wrap
      #resume.resume web front end development responsive design graphic clean mobile first accessibility semantic seo html 5 css 3 javascript angularjs jquery gulp grunt bower git canvas
    section.table
      article.table-cell
        #logo.logo
          .logo-proportion
          //- K
          .squareK
          .squareK-bottom
          .squareK-right
          .squareK-top
          .squareK-left
          .squareK-diagonal
          //- 6
          .square6
          .square6-top
          .square6-left
          .square6-bottom
          .square6-right

        nav.links
          a.icon.icon-github(href='https://github.com/kuus', title='Github')
          a.icon.icon-linkedin(href='https://nl.linkedin.com/in/kunderikuus', title='LinkedIn')
          a.icon.icon-mail(href='mailto:kunderikuus@gmail.com', title='Email')

        header.header
          h1.title kunderi kuus
          h2.subtitle
            | Currently located in Amsterdam
            br
            | working on &nbsp;
            a(href='http://pluswp.com') pluswp
            | , an ambitious WordPress project
        footer.footer
          h5 Copyright &copy; 2012 - 2015

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-42275376-1');ga('send','pageview');

    //- jquery outside build tag, because is going to be 'cdnized'
    script(src='/bower_components/jquery/dist/jquery.js')

    // build:js scripts/inline.js
    //- bower:js
    script(src='/bower_components/FitText.js/jquery.fittext.js')
    //- endbower

    script(src='scripts/main.js')
    // endbuild
