<div id="logo">
  <div id="logo-proportion"></div>
  <div id="logo-k" class="logo-abs">
    <div id="logo-k-bg" class="logo-abs logo-k-bg">
      <span id="logo-k-lett">k</span>
    </div>
    <div id="logo-k-t" class="logo-abs logo-k-edge"></div>
    <div id="logo-k-r" class="logo-abs logo-k-edge"></div>
    <div id="logo-k-b" class="logo-abs logo-k-edge"></div>
    <div id="logo-k-l" class="logo-abs logo-k-edge"></div>
    <div id="logo-k-d" class="logo-abs logo-k-edge"></div>
  </div>
  <div id="logo-6" class="logo-abs">
    <div id="logo-6-bg" class="logo-abs logo-6-bg">
      <span id="logo-6-lett">6</span>
    </div>
    <div id="logo-6-t" class="logo-abs logo-6-edge"></div>
    <div id="logo-6-r" class="logo-abs logo-6-edge"></div>
    <div id="logo-6-b" class="logo-abs logo-6-edge"></div>
    <div id="logo-6-l" class="logo-abs logo-6-edge"></div>
  </div>
</div>